{% from 'table/table.html' import minijob_table, minisample_table %}
{% from 'table/job_row.html' import job_row_std_js %}

{% extends 'base.html' %}
{% block title%}
Home
{% endblock %}
{% block content %}

{% if g.user %}
  <h1>Welcome {{g.user.username}}
  </h1>
    <p>
      You are: {{g.user.role}}
      {% if g.user.role == "admin" %}
      <i class="fas fa-crown"></i>
      {% endif %}
    </p>
  {% if g.user.role == 'pending' %}
    <h4>Please wait for an admin to assign you a role</h4>
  {% else %}
  <br />
  <h3>Latest Sample Additions</h3>
  {{ minisample_table(latest_samples) }}
  <br /><br />
  <h3>Latest Matching Jobs</h3>
  {{ minijob_table(jobs, table_id="matching_jobs", families_by_id=families, samples_by_id=samples) }}
  {% endif %}
{% endif %}
  
{% endblock %}