{% from 'table/table.html' import job_table %}
{% from 'table/job_row.html' import job_row_std_js %}
{% from 'table/column_table.html' import job_column_table %}

{% extends 'base.html' %}
{% block title%}
Overview for Job: {{ job_info.job_id }}
{% endblock %}
{% block style %}
{% if (auto_refresh > 0) and (not job_info.finished_at) %}
<meta http-equiv="refresh" content="{{ auto_refresh }}">
{% endif %}

{{ job_row_std_js() }}

{% endblock %}
{% block content %}
<h1>Job overview: {{ job_info.parameters }}</h1>

{{ job_column_table(job_info, show_progress=True) }}


{% if child_jobs %}
    {{ job_table(child_jobs) }}
{% endif %}

{% endblock %}

