{% from 'table/pagination_widget.html' import pagination_widget %}
{% from 'table/table.html' import job_table %}
{% from 'table/job_row.html' import job_row_std_js %}
{% from 'table/tabs.html' import add_tab, finalize_tabs %}

{% extends 'base.html' %}
{% block title%}
Jobs
{% endblock %}
{% block style %}

{{ job_row_std_js() }}
<script>$(document).ready(function () {
  $('#job-table').DataTable({
    autoWidth: false,
    deferRender: false,
    processing: false,
    scrollX: false,
    scrollY: false,
    searching: false,
    serverSide: false,
    stateSave: false,
    paging: false,
    info: false
  }
  );
});</script>

<style>
  .black {
    color: black;
  }
  .table-bordered {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
  }

  .table-bordered td,
  .table-bordered th {
    border: 1px solid #333; /* You can adjust the color as needed */
  }

  .table-bordered td {
    border-right: none; /* Remove right border for all cells */
  }

  .table-bordered td + td {
    border-right: 1px solid #333; /* Add right border for adjacent cells */
  }
</style>

{% endblock %} 

{% block content %}
<h1>Job Overview</h1>

{% if menu_configuration['statistics']['totals'] %}
  <table class="table table-bordered">
    <tr>
      <td class="table-secondary text-end">
        {% if menu_configuration['statistics']['totals']['queued'] %}
          <a class="black" href="{{ url_for('data.jobs', state='queued') }}">{{ menu_configuration['statistics']['totals']['queued'] }} queued</a>
        {% else %}
          {{ menu_configuration['statistics']['totals']['queued'] }} queued
        {% endif %}
      </td>
      <td class="table-primary text-end">
        {% if menu_configuration['statistics']['totals']['in_progress'] %}
          <a class="black" href="{{ url_for('data.jobs', state='in_progress') }}">{{ menu_configuration['statistics']['totals']['in_progress'] }} in progress</a>
        {% else %}
          {{ menu_configuration['statistics']['totals']['in_progress'] }} in progress
        {% endif %}
      </td>
      <td class="table-success text-end">
        {% if menu_configuration['statistics']['totals']['finished'] %}
          <a class="black" href="{{ url_for('data.jobs', state='finished') }}">{{ menu_configuration['statistics']['totals']['finished'] }} finished</a>
        {% else %}
          {{ menu_configuration['statistics']['totals']['finished'] }} finished
        {% endif %}
      </td>
      <td class="table-warning text-end">
        {% if menu_configuration['statistics']['totals']['failed'] %}
          <a class="black" href="{{ url_for('data.jobs', state='failed') }}">{{ menu_configuration['statistics']['totals']['failed'] }} failed</a>
        {% else %}
          {{ menu_configuration['statistics']['totals']['failed'] }} failed
        {% endif %}
      </td>
      <td class="table-danger text-end">
        {% if menu_configuration['statistics']['totals']['terminated'] %}
          <a class="black" href="{{ url_for('data.jobs', state='terminated') }}">{{ menu_configuration['statistics']['totals']['terminated'] }} terminated</a>
        {% else %}
          {{ menu_configuration['statistics']['totals']['terminated'] }} terminated
        {% endif %}
      </td>
    </tr>
    </table>
  </p>
{% endif %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#first_level_navbar" aria-controls="first_level_navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="first_level_navbar">
      <ul class="navbar-nav">
        <li class="nav-item  px-2">
          <a class="btn btn-outline-dark btn-sm" href="{{ url_for('data.jobs') }}"  role="button" target="_self"><i class="fa-solid fa-house"></i></a>
        {% for entry in menu_configuration["menu"] %}
        {% if entry['available'] %}
          {% if 'submenu' in entry %}
            <li class="nav-item dropdown  px-2">
              <a class="nav-link dropdown-toggle {% if entry['active'] %}active{% endif %}" href="#" id="navbarDropdown-{{entry['group']}}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ entry["title"] }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{entry['group']}}">
                {% for subentry in entry["submenu"] %}
                  <a class="dropdown-item {% if not subentry['available'] %}disabled{% endif %}" href="{{ url_for('data.jobs', active=subentry['name']) }}">{{subentry["title"]}}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
          <li class="nav-item  px-2">
            <a class="nav-link {% if entry['active'] %}active{% endif %}" href="{{ url_for('data.jobs', active=entry['group']) }}" id="navbar-{{entry['group']}}">
              {{ entry["title"] }}
            </a>
          {% endif %}
        {% else %}
          <li class="nav-item px-2">
            <a class="nav-link {% if entry['active'] %}active{% endif %}" href="#" id="navbar-{{entry['group']}}">
              {{ entry["title"] }}
            </a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  {#
  {% if query %}
  <p>Results for "{{ query }}"</p>
  {% endif %}
  <form style="width:100%" method="POST" required>
    <input type="text" class="form-control shadow-none" name="Search"id="Search" placeholder="Search" autofocus autocomplete="on">
    <input type='submit' hidden>
  </form>
  #}

  {% if active %}
<p>
  Showing jobs for category: {{active}} <a id="job_id_category_{{active}}" class="confirm-delete btn btn-outline-dark btn-sm" href="{{ url_for('data.delete_job_by_id', job_id='0') }}"  role="button" target="_self"><i class="fa-solid fa-trash"></i></a>
</p>
{% endif %}
{% if state %}
<p>
  Showing jobs for state: {{state}} <a id="job_id_state_{{state}}" class="confirm-delete btn btn-outline-dark btn-sm" href="{{ url_for('data.delete_job_by_id', job_id='0') }}"  role="button" target="_self"><i class="fa-solid fa-trash"></i></a>
</p>
{% endif %}

  {{ job_table(jobs, table_id=active) }}
  {% if p %}
    {{ pagination_widget(p) }}
  {% endif %}

  <!-- based on https://stackoverflow.com/a/8983053 -->
  <div id="jobDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="jobDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">Delete Job(s)</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please confirm deletion.</p>
            </div>
            <div class="modal-footer">
                <button id="btnDelete" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
  <script>
  $('.confirm-delete').on('click', function(e) {
      // preven form submit
      e.preventDefault();
      
      // get the current image/form id
      var id = $(this).attr("id");
      
      // assign the current id to the modal
      $('#jobDeleteModal').data('id', id).modal('show');
  });

  $('#btnDelete').click(function() {
      // handle deletion here
      var job_id = $('#jobDeleteModal').data('id');
      job_id = job_id.replace("job_id_", "");
      var url = "{{url_for('data.delete_job_by_id', job_id='PLACEHOLDER')}}";
      url = url.replace("PLACEHOLDER", job_id);
      // submit the form
      window.open(url);
      
      // hide modal
      $('#jobDeleteModal').modal('hide');
  });
</script>

{% endblock %}