{% from 'table/pagination_widget.html' import pagination_widget %}
{% from 'table/table.html' import job_table %}
{% from 'table/job_row.html' import job_row_std_js %}
{% from 'table/tabs.html' import add_tab, finalize_tabs %}

{% extends 'base.html' %}
{% block title%}
Jobs
{% endblock %}
{% block style %}

{{ job_row_std_js() }}
<script>$(document).ready(function () {
  $('#job-table').DataTable({
    autoWidth: false,
    deferRender: false,
    processing: false,
    scrollX: false,
    scrollY: false,
    searching: false,
    serverSide: false,
    stateSave: false,
    paging: false,
    info: false
  }
  );
});</script>

{% endblock %} 

{% block content %}
<h1>Job Overview</h1>
{% if query %}
  <p>Results for "{{ query }}"</p>
{% endif %}
  <form style="width:100%" method="POST" required>
    <input type="text" class="form-control shadow-none" name="Search"id="Search" placeholder="Search" autofocus autocomplete="on">
    <input type='submit' hidden>
  </form>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#first_level_navbar" aria-controls="first_level_navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="first_level_navbar">
      <ul class="navbar-nav">
        {% for entry in menu_configuration["menu"] %}
        {% if entry['available'] %}
        <li class="nav-item dropdown {% if entry['active'] %}active{% endif %} px-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{entry['group']}}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ entry["title"] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{entry['group']}}">
            {% for subentry in entry["submenu"] %}
              <a class="dropdown-item" href="#">{{subentry["title"]}}</a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item {% if entry['active'] %}active{% endif %} px-2">
          <a class="nav-link" href="#" id="navbar-{{entry['group']}}">
            {{ entry["title"] }}
          </a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>

  {{ job_table(jobs, table_id="{{ active }}") }}
  {% if p %}
    {{ pagination_widget(p) }}
  {% endif %}

{% endblock %}