{% from 'table/table.html' import sample_table %}
{% from 'table/sample_row.html' import sample_row_std_js %}
{% from 'table/pagination_widget.html' import pagination_widget, pagination_js, set_pagination_params %}
{% extends 'base.html' %}

{% block title%}
Samples
{% endblock %}

{% block style %}
{{ sample_row_std_js() }}
{{ pagination_js() }}
{% endblock %}

{% block content %}
<h1>Overview of Samples</h1>
  <div class="d-flex align-items-center" style="width:100%">
    <form class="flex-grow-1 me-3" method="GET" required action="#">
    <input type="text" class="form-control shadow-none" name="query" value="{{ query or '' }}" id="query" placeholder="Search" autofocus autocomplete="on">
    <input type='submit' hidden>
  </form>
    <div class="d-flex align-items-center">
      <a href="{{ url_for('admin.help') }}#search"><i class="fas fa-book"></i> Search Syntax</a>
    </div>
  </div>

{{ set_pagination_params(pagination, _js_argument_provider="fetchState", _anchor="Search") }}
{{ sample_table(samples, job_collection=job_collection, show_export=True, show_edit=True, sort_pagination=pagination) }}
{% if samples %}
{{ pagination_widget(pagination) }}
{% endif %}
{% include 'js/ac_family_names.html' %}
{% endblock %}