{% extends 'base.html' %}
{% block title%}
Settings
{% endblock %}
{% block content %}
<center>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-username-tab" data-bs-toggle="pill" data-bs-target="#pills-username" type="button" role="tab" aria-controls="pills-username" aria-selected="true">Change username</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">Change password</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active"id="pills-username" role="tabpanel" aria-labelledby="pills-username-tab">
            <form action = "{{ url_for('admin.change_username') }}" method='post'>
                <div class="form-group">
                  <input name='username' class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter new username" autofocus required >
                </div>
                <div class="form-group">
                  <input type="password" name='inputPassword1' class="form-control" id="inputPassword1" placeholder="Enter password" required>
                </div>
                <button type="submit" class="btn btn-primary">Confirm change</button>
            </form>
        </div>
        <div class="tab-pane fade"id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
            <form action = "{{ url_for('admin.change_password') }}" method='post'>
                <div class="form-group">
                  <input type="password" name='inputPassword2' class="form-control" id="inputPassword2" placeholder="Enter old password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="inputPassword3" id="inputPassword3" placeholder="Enter new password" >
                  </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="inputPassword4" id="inputPassword4" placeholder="Confirm new password" >
                  </div>
                <button type="submit" class="btn btn-primary">Confirm change</button>
            </form>
        </div>
    </div>
</center>

{% endblock %}