{% from 'table/table.html' import sample_table %}
{% from 'table/sample_row.html' import sample_row_std_js %}
{% from 'table/pagination_widget.html' import pagination_widget, pagination_js, set_pagination_params %}
{% extends 'base.html' %}

{% block title%}
Family: {{ family.family }}
{% endblock %}

{% block style %}
{{ sample_row_std_js() }}
{{ pagination_js() }}
{% endblock %}

{% block content %}
<h1>Family: {{ family.family }}</h1>

  <form style="width:100%" method="GET" required action="#">
    <input type="text" class="form-control shadow-none" name="query" value="{{ query or '' }}" id="query" placeholder="Search" autofocus autocomplete="on">
    <input type='submit' hidden>
  </form>

{{ sample_table(samples, job_collection=job_collection, show_edit=True, no_family=True, sort_pagination=pagination) }}
{% if samples %}
{{ pagination_widget(pagination) }}
{% endif %}
{% include 'js/ac_family_names.html' %}
{% endblock %}
