{% from 'table/table.html' import function_table, job_table %}
{% from 'table/function_row.html' import function_row_std_js %}
{% from 'table/pagination_widget.html' import pagination_widget %}
{% from 'table/job_row.html' import job_row_std_js %}
{% from 'table/links.html' import clipboard_btn %}
{% from 'table/column_table.html' import sample_column_table %}
{% extends 'base.html' %}
{% block title%}
Sample: {{ entry.sample_id }}
{% endblock %}

{% block style %}
{{ function_row_std_js() }}
{{ job_row_std_js() }}
{% endblock %}

{% block content %}

<script>
  var button_clicked = false;
  
  $(document).ready(function(){
    var editSampleModal = document.getElementById('editSampleModal');
    editSampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var family_name = button.getAttribute('data-bs-familyname');
    var sample_id = button.getAttribute('data-bs-sampleid');
    var version = button.getAttribute('data-bs-version');
    var is_library = button.getAttribute('data-bs-islibrary');
    // Update the modal's content.
    var modalTitle = editSampleModal.querySelector('.modal-title');
    var modalBodyFamilyName = editSampleModal.querySelector('.modal-body #sample_family_name');
    var modalBodyVersion = editSampleModal.querySelector('.modal-body #sample_version');
    var modalBodySampleId = editSampleModal.querySelector('.modal-body #sample_id');
    var modalBodyLibrary = editSampleModal.querySelector('.modal-body #sample_is_library');
  
    modalTitle.textContent = 'Change Data for Sample ' + sample_id;
    modalBodyFamilyName.value = family_name;
    modalBodyVersion.value = version;
    modalBodySampleId.value = sample_id;
    if (is_library == "True") {
      modalBodyLibrary.checked = true;
    }
    else {
      modalBodyLibrary.checked = false;
    }
    })

    $("#button_sample_analyze").click(function(e){
    if(event.target.id.includes("_edit")) {
    }
    else if(button_clicked) {
      e.stopPropagation();
      button_clicked = false;
      own_menu = $('#dropdown-menu');
      was_visible = own_menu.is(":visible");
      $("#dropdown-menu").hide();
      if (!was_visible){
        $("#dropdown-menu").toggle();
      }
    }
    else {
    }
    });
  });
  function set_analyze_sample_button_clicked() {
    button_clicked = true;
  }
</script>

<!-- Modal -->
<div class="modal fade" id="editSampleModal" tabindex="-1" aria-labelledby="editSampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSampleModalLabel">Modify Sample</h5>
      </div>
      <div class="modal-body">
          <form action='{{ url_for("explore.modifySample") }}'' method="POST" style="width: 80%">
            <input type="text" class="form-control" name="sample_id" id="sample_id" hidden value="">
          <div class="form-group mb-3">
            <label for="sample_family_name" class="col-form-label">Family Name:</label>
            <input type="text" class="form-control" name="sample_family_name" id="sample_family_name" maxlength="64">
          </div>
          <div class="form-group mb-3">
            <label for="sample_version" class="col-form-label">Version:</label>
            <input class="form-control" name="sample_version" id="sample_version" maxlength="64">
          </div>
          <div class="form-group mb-3">
            <input type="checkbox" value="" name="sample_is_library" id="sample_is_library">
            &nbsp;&nbsp;
            <label for="sample_is_library" class="col-form-label">Sample is Library?</label>
          </div>
          <div class="form-group mb-3">
            <input type="checkbox" value="" name="sample_delete" id="sample_delete" onclick='toggle_delete_sample(this);'>
            &nbsp;&nbsp;
            <label for="sample_delete" class="col-form-label">Delete Sample</label>
          </div>
          <div>
            <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary mb-3">Submit Changes</button>
            <button type="submit" id="button_delete_sample" class="btn btn-danger mb-3" hidden>Delete Sample</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script>
    function toggle_delete_sample(cb) {
    var deleteSampleButton = document.getElementById('button_delete_sample');
    if (cb.checked) {
      deleteSampleButton.hidden = false;
    } else {
      deleteSampleButton.hidden = true;
    }
  }
  </script>


<h1>Sample Overview: {{ entry.sample_id }}</h1>
<div class="container">
    <div class="row">
      <div align="right" class="col">
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" id="button_sample_analyze" onclick=set_analyze_sample_button_clicked() bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% if job_collection.getJobsForSample(entry.sample_id, matching_only=True) %}
            <i style="color:green;" class="fa-solid fa-flask"></i>&nbsp;{{ job_collection.getJobsForSample(entry.sample_id, matching_only=True) | length}}
            {% else %}
            <i class="fa-solid fa-flask"></i>
            {% endif %}
          </button>
          <div style="margin-top: 30px" class="dropdown-menu" id="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('analyze.compare', query='sha256:'+entry.sha256) }}">New: 1 vs N</a>
            <a class="dropdown-item" href="{{ url_for('analyze.compare_versus', selected_a=entry.sample_id, query_a='sha256:'+entry.sha256) }}">New: 1 vs 1</a>
            <a class="dropdown-item" href="{{ url_for('analyze.cross_compare', samples=entry.sample_id) }}">New: Cross Compare</a>
            <a class="dropdown-item" href="{{ url_for('explore.sample_by_id', sample_id=entry.sample_id, _anchor='jobs') }}">Previous Jobs</a>
            {% if job_collection.getJobsForSample(entry.sample_id, method="getMatchesForSample", finished_only=True) %}
            <a class="dropdown-item" href="{{ url_for('data.result', job_id=job_collection.getJobsForSample(entry.sample_id, method="getMatchesForSample", finished_only=True)[0].job_id) }}">Last 1:N Job</a>
            {% endif %}
          </div>
        </div>
          <a class="btn btn-outline-dark btn-sm" id="sample_{{ entry.sample_id }}_family_blocks" href="{{ url_for('analyze.blocks_sample', sample_id=entry.sample_id) }}" role="button" target="_self"><i class="fa-solid fa-cubes-stacked"></i></a>
          <a class="btn btn-outline-dark btn-sm" id="sample_{{ entry.sample_id }}_export" href="{{ url_for('data.specific_export', type='samples', item_id=entry.sample_id) }}" role="button" target="_self"><i class="fa-solid fa-file-export"></i></a>
          <a class="btn btn-outline-dark btn-sm" id="sample_{{ entry.sample_id }}_edit" role="button" data-bs-toggle="modal" data-bs-target="#editSampleModal" data-bs-islibrary="{{ entry.is_library }}"  data-bs-version="{{ entry.version }}"  data-bs-sampleid="{{ entry.sample_id }}" data-bs-familyname="{{ entry.family }}"><i class="fa-solid fa-pen-to-square"></i></a>
      </div>
    </div>
</div>
<p></p>
<div>
  {{ sample_column_table(("Sample Info", entry)) }}
  {% if job_collection.count %}
      <p>
        Sample has <a href="#jobs">{{ job_collection.count }} {% if job_collection.count == 1 %}Job{% else %}Jobs{% endif %}</a>.
      </p>
  {% endif %}
</div>
<h3>Search</h3>
  <form style="width:100%" method="GET" required action="#">
    <input type="text" class="form-control shadow-none" name="query" value="{{ query or '' }}" id="query" placeholder="Search" autofocus autocomplete="on">
    <input type='submit' hidden>
  </form>
  <h3>Functions</h3>
{{ function_table(functions, for_sample_view=True, sort_pagination=pagination) }}
{% if functions %}
{{ pagination_widget(pagination) }}
{% endif %}
{% if job_collection.count %}
<h3 id="jobs">Jobs</h3>
{{ job_table(job_collection.getJobs()) }}
{% endif %}
{% include 'js/ac_family_names.html' %}
{% endblock %}
