{% from 'table/links.html' import format_pichash, format_function_id, format_family_name, format_family_id, format_sample_id, format_sha_short_clipboard, clipboard_btn %}

{% macro sample_column_table()%}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Field</th>
        {% for name_and_sample in varargs %}
          <th scope="col">{{ name_and_sample[0]}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td valign="middle">Sample ID | Family: </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">{% if name_and_sample[1].sample_id < 0 %}*{{ name_and_sample[1].sample_id|abs }}{% else%}<a href="{{ url_for('explore.sample_by_id', sample_id=name_and_sample[1].sample_id) }}">{{ name_and_sample[1].sample_id }}</a>{% endif %} | 
            {{ format_family_name(name_and_sample[1].family, name_and_sample[1].family_id) }}
          </td>
        {% endfor %}
      </tr>

      <tr>
        <td valign="middle">Version | Component | Library: </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">
            {{ name_and_sample[1].version or "-" }} | 
            {{ name_and_sample[1].component or "-" }} | 
            <i {% if name_and_sample[1].is_library %} style="color:green;" class="fa-solid fa-square-check" {% else %} style="color:darkred;" class="fa-solid fa-times-circle"> {% endif %}</i></td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">SHA256 | Filename: </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">{{ format_sha_short_clipboard(name_and_sample[1].sha256) }} | {{ name_and_sample[1].getShortFilename() or "-" }} {{ clipboard_btn(name_and_sample[1].filename) }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Base Address:</td>
        {% for name_and_sample in varargs %}
          <td valign="middle">0x{{ "%x"|format(name_and_sample[1].base_addr) }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Binary Size (BinWeight): </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">{{ "{:,d}".format(name_and_sample[1].binary_size) }} ({{ "{:,.0f}".format(name_and_sample[1].binweight) }}) bytes</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Functions | Blocks | Instructions: </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">
            {{ "{:,d}".format(name_and_sample[1].statistics['num_functions']) }} | 
            {{ "{:,d}".format(name_and_sample[1].statistics['num_basic_blocks']) }} | 
            {{ "{:,d}".format(name_and_sample[1].statistics['num_instructions']) }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Platform: </td>
        {% for name_and_sample in varargs %}
          <td valign="middle">{{ name_and_sample[1].architecture }} / {{ name_and_sample[1].bitness }}bit</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endmacro %}


{% macro function_column_table()%}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Field</th>
        {% for name_fe_se_ph in varargs %}
          <th scope="col">{{ name_fe_se_ph[0]}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td valign="middle">Sample ID | Family: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">{% if name_fe_se_ph[1].sample_id < 0 %}*{{ name_fe_se_ph[1].sample_id|abs }}{% else%}<a href="{{ url_for('explore.sample_by_id', sample_id=name_fe_se_ph[1].sample_id) }}">{{ name_fe_se_ph[1].sample_id }}</a>{% endif %} | 
            {{ format_family_name(name_fe_se_ph[2].family, name_fe_se_ph[2].family_id) }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">SHA256 | Filename: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">{{ format_sha_short_clipboard(name_fe_se_ph[2].sha256) }} | {{ name_fe_se_ph[2].getShortFilename(16) }} {{ clipboard_btn(name_fe_se_ph[2].filename) }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Function ID:</td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">{{ format_function_id(name_fe_se_ph[1].function_id) }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Offset:</td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">0x{{ "%x"|format(name_fe_se_ph[1].offset) }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Function Name:</td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">
            {{ name_fe_se_ph[1].function_name }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Function Labels:</td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">
          {% for label_entry in name_fe_se_ph[1].function_labels|sort(attribute='timestamp', reverse=True) %}
            <p>
              {{ label_entry.function_label }}<br />
              <span style="font-size: 0.7em; color: grey;">
                {{ label_entry.username }} | {{ label_entry.timestamp }}
              </span>
            </p>
            {% endfor %}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">BinWeight: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">{{ "{:,.0f}".format(name_fe_se_ph[1].binweight) }} bytes</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Blocks | Instructions: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">
            {{ "{:,d}".format(name_fe_se_ph[1].num_blocks) }} | 
            {{ "{:,d}".format(name_fe_se_ph[1].num_instructions) }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">Platform: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">{{ name_fe_se_ph[1].architecture }} / {{ name_fe_se_ph[2].bitness }}bit</td>
        {% endfor %}
      </tr>
      <tr>
        <td valign="middle">PicHash: </td>
        {% for name_fe_se_ph in varargs %}
          <td valign="middle">
            {{ format_pichash(name_fe_se_ph[1].pichash) }}
            {{ name_fe_se_ph[3]["families"] }} <i class="fa-solid fa-bug" title="Families matched"> </i>, 
            {{ name_fe_se_ph[3]["samples"] }} <i class="fa-solid fa-virus" title="Samples matched"> </i>,
            {{ name_fe_se_ph[3]["functions"] }} <i class="fa-solid fa-project-diagram" title="Functions matched"> </i>
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endmacro %}




{% macro job_column_table(job_info, show_created=True, show_started=True, show_finished=True, show_progress=False, show_duration=True) %}
  <table class="table table-hover">
    <tbody>
      <tr>
        <td valign="middle">Task:</td>
        <td valign="middle">{{ job_info.parameters }}</td>
      </tr>
      <tr>
        <td valign="middle">Job ID:</td>
        <td valign="middle">{{ job_info.job_id }}</td>
      </tr>
      {% if show_created %}
        <tr>
          <td valign="middle">Created: </td>
          <td valign="middle">
            {% if job_info.created_at|length > 15 %}
              {{ job_info.created_at|date_time }}
            {% else %}
              {{ job_info.created_at }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if show_started %}
        <tr>
          <td valign="middle">Started: </td>
          <td valign="middle">
            {% if job_info.started_at %}
              {{ job_info.started_at|date_time }}
            {% else %}
              This job hasn't started yet
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if show_finished %}
        <tr>
          <td valign="middle">Finished: </td>
          <td valign="middle">
            {% if job_info.finished_at %}
              {{ job_info.finished_at|date_time }}
            {% elif job_info.is_failed %}
              Failed</td>
            {% else %}
              This job hasn't finished yet
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if show_duration %}
        <tr>
          <td valign="middle">Duration: </td>
          <td valign="middle">
            {% if job_info.finished_at %}
              {{ job_info.duration }}
            {% elif job_info.is_failed %}
              Failed
            {% else %}
              This job hasn't finished yet
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if show_progress %}
        <tr>
          <td valign="middle">Progress: </td>
          <td valign="middle">
            {% if job_info.finished_at %}
              <a href="{{ url_for('data.result', job_id=job_info.job_id ) }}">Results available</a>
            {% else %}
              {% if job_info.started_at %}
                {{ "%5.2f"|format(100 * job_info.progress) }}% 
              {% else %}
                {{ "%5.2f"|format(0) }}% 
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if job_info.is_failed and job_info.last_error %}
        <tr>
          <td valign="middle">Error Message: </td>
          <td valign="middle">
            <div white-space: pre-wrap;>
              <pre><code>{{ (job_info.last_error.rstrip()|e) -}}</code></pre>
            </div>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}



{% macro matching_result_job_column_table(job_info, show_created=False, show_started=False) %}
  {{ job_column_table(
    job_info,
    show_created=show_created,
    show_started=False,
    **kwargs,
  )}}
{% endmacro %}