{% from 'table/links.html' import format_family_name, format_family_id, format_sample_id, format_monospace %}

{% macro job_row_std_js() %}
<script>
  $(document).ready(function(){
    $("td.job-cell").click(function(){
      var job_id = $(this)[0].getAttribute('job_id')
      window.location.href="/data/jobs/" + job_id;
    });
  });
</script>
{% endmacro %}

{% macro job_description(job, families_by_id, samples_by_id) %}

{% if job.method == "getMatchesForSample" %}
  {% set sample_entry = samples_by_id.get(job.sample_id) %}
  Match 1vN | 
  {% if sample_entry %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(samples_by_id[job.sample_id].family, samples_by_id[job.sample_id].family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> {{ format_sample_id(job.sample_id) }}<br />
    {{ format_monospace(samples_by_id[job.sample_id].sha256[:8]) }} | {{ samples_by_id[job.sample_id].getShortFilename() or "-" }}
  {% else %}
    <i class="fa-solid fa-virus " title="Sample ID"></i> {{ job.sample_id }} (deleted)<br />
    - | - 
  {% endif %}

{% elif job.method == "getMatchesForSampleVs" %}
  {% set sample_entry_a = samples_by_id.get(job.sample_id) %}
  {% set sample_entry_b = samples_by_id.get(job.other_sample_id) %}
  Match 1v1 | 
  {% if sample_entry_a %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(sample_entry_a.family, sample_entry_a.family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> {{ format_sample_id(job.sample_id) }} vs. 
  {% else %}
  <i class="fa-solid fa-virus " title="Sample ID"></i> {{ job.sample_id }} (deleted) vs.
  {% endif %}
  {% if sample_entry_b %}
  {{ format_family_name(sample_entry_b.family, sample_entry_b.family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> {{ format_sample_id(job.other_sample_id) }}
  {% else %}
  <i class="fa-solid fa-virus " title="Sample ID"></i> {{ job.other_sample_id }} (deleted)
  {% endif %}
  <br />
  {% if sample_entry_a %}
    A: {{ format_monospace(samples_by_id[job.sample_id].sha256[:8]) }} | {{ samples_by_id[job.sample_id].getShortFilename() or "-" }}
  {% else %}
    A: - | -
  {% endif %}
  <br />
  {% if sample_entry_b %}
    B: {{ format_monospace(samples_by_id[job.other_sample_id].sha256[:8]) }} | {{ samples_by_id[job.other_sample_id].getShortFilename() or "-" }}
  {% else %}
    B: - | -
  {% endif %}
  
{% elif job.method == "combineMatchesToCross" %}
  CrossCompare | {{ job.arguments[0] | length }} samples<br />
  {# reorganize data #}
  {% set grouped_samples = grouped_samples|default({}) %}
  {% for target_sample_id in job.arguments[0] %}
      {% set sample_entry = samples_by_id.get(target_sample_id|int) %}
      {% if sample_entry %}
          {# Check if family_id exists before grouping #}
          {% if sample_entry.family_id %}
              {# Create a dictionary to group sample_ids by family_id #}
              {% set _ = grouped_samples.update({sample_entry.family_id: (grouped_samples.get(sample_entry.family_id, []) + [target_sample_id|int])}) %}
          {% endif %}
      {% endif %}
  {% endfor %}
  {# Print the grouped samples #}
  {% for family_id, sample_ids in grouped_samples.items() %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(samples_by_id[sample_ids[0]].family, family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> 
    {% for family_id, sample_ids in grouped_samples.items() %}
    {% endfor %}
    {{ sample_ids|join(', ') }}<br />
  {% endfor %}

{% elif job.method == "getMatchesForUnmappedBinary" %}
  Match Binary (unmapped) | {{ format_monospace(job.sha256[:8]) }}

{% elif job.method == "getMatchesForMappedBinary" %}
  Match Binary (mapped) | {{ format_monospace(job.sha256[:8]) }}

  {% elif job.method == "getMatchesForSmdaReport" %}
  Match SMDA Report | {{ format_monospace(job.sha256[:8]) }}

{% elif job.method == "getUniqueBlocks" %}

  {% set reference_sample = samples_by_id.get(job.sample_id) %}
  {% for sample_id in job.arguments[0] %}
    {% set sample_entry = samples_by_id.get(sample_id) %}
    {% if sample_entry %}
    {% set reference_sample = samples_by_id.get(sample_id) %}
  {% endif %}
  {% endfor %}

  {% if job.arguments[0]|length > 1 %}
    UniqueBlocks | {{ job.arguments[0] | length }} samples<br />
  {% else %}
    UniqueBlocks | {{ job.arguments[0] | length }} sample<br />
  {% endif %}

  {% if job.arguments|length > 1 %}
    {% if reference_sample %}
     <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(reference_sample.family, reference_sample.family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> 
    {% else %}
     <i class="fa-solid fa-bug " title="Family ID"></i> - | <i class="fa-solid fa-virus " title="Sample ID"></i> 
   {% endif %}
   {% else %}
   {% if reference_sample %}
   <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(reference_sample.family, reference_sample.family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> 
   {% else %}
   <i class="fa-solid fa-bug " title="Family ID"></i> - | <i class="fa-solid fa-virus " title="Sample ID"></i> 
   {% endif %}
   {% endif %}
  {{ job.arguments[0]|join(', ') }}

{% elif job.method == "updateMinHashesForSample" %}
  {% set sample_entry = samples_by_id.get(job.sample_id) %}
  Update MinHash | 
  {% if sample_entry %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(samples_by_id[job.sample_id].family, samples_by_id[job.sample_id].family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> {{ format_sample_id(job.sample_id) }}
  {% else %}
    {{ job.sample_id }} (deleted)
  {% endif %}

{% elif job.method == "updateMinHashes" %}
  Update all missing MinHashes

  {% elif job.method == "rebuildIndex" %}
  Rebuild full Index

{% elif job.method == "addBinarySample" %}
  Add Binary | <i class="fa-solid fa-bug " title="Family ID"></i> {{ job.family }}<br />
  {{ format_monospace(job.sha256[:8]) }} | {{ job.filename }}

{% elif job.method == "deleteSample" %}
  Delete Sample | <i class="fa-solid fa-virus " title="Sample ID"></i>  {{ job.arguments[0] }}

{% elif job.method == "modifySample" %}
  {% set sample_entry = samples_by_id.get(job.sample_id) %}
  Modify Sample | 
  {% if sample_entry %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(samples_by_id[job.sample_id].family, samples_by_id[job.sample_id].family_id) }} | <i class="fa-solid fa-virus " title="Sample ID"></i> {{ format_sample_id(job.sample_id) }}
  {% else %}
  {{ job.sample_id }} (deleted)
  {% endif %}<br />
  {% for key, value in job.arguments[1].items() %}
    {{ key }} <i class="fa-solid fa-arrow-right"></i> {{ value }}<br />
  {% endfor %}

  {% elif job.method == "deleteFamily" %}
  Delete Family | <i class="fa-solid fa-bug " title="Family ID"></i>  {{ job.arguments[0] }}

{% elif job.method == "modifyFamily" %}
  {% set family_entry = families_by_id.get(job.family_id) %}
  Modify Family | 
  {% if family_entry %}
    <i class="fa-solid fa-bug " title="Family ID"></i> {{ format_family_name(family_entry.family_name, family_entry.family_id) }} 
  {% else %}
  {{ job.family_id }} (deleted)
  {% endif %}<br />
  {% for key, value in job.arguments[1].items() %}
    {{ key }} <i class="fa-solid fa-arrow-right"></i> {{ value }}<br />
  {% endfor %}

{% else %}
  {{ job.parameters }}
{% endif %}
{% endmacro %}


{% macro job_header(families_by_id, samples_by_id) %}
  <tr>
    <th scope="col">#</th>
    <th scope="col">Type</th>
    <th style="text-align: right;" scope="col">Started</th>
    <th style="text-align: right;" scope="col">Finished</th>
    <th style="text-align: right;" scope="col">Progress</th>
    <th style="min-width: 90px;" scope="col"></th>
  </tr> 
{% endmacro %}  
  
{% macro job_row(job) %}
  <tr class="job-row parent_{{ kwargs['parent'] }}" >
    <th job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle" class="id" scope="row">{{ "%d"|format(job.number) }}</th>
    <td job_id="{{ job.job_id }}" class="job-cell" valign="middle">{{ job_description(job, kwargs['families_by_id'], kwargs['samples_by_id']) }}</td>
    {% if job.started_at != None %}
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">{{ job.started_at|date_time }}</td>
    {% else %}
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">Not started yet</td>
    {% endif %}
    {% if job.finished_at != None %}
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">{{ job.finished_at|date_time }}</td>
    {% elif job.is_failed %}
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">Failed</td>
    {% else %}
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">Not finished yet</td>
    {% endif %}
    {% if job.started_at != None %}
      <td class="job-cell" align="right" valign="middle">{{ "%5.2f"|format(100 * job.progress) }}%</td>
    {% else %}
      <td class="job-cell" align="right" valign="middle">{{ "%5.2f"|format(0) }}%</td>
    {% endif %}
    <td align="right">
      {% if not job.started_at or job.finished_at %}
      <a id="job_id_{{ job.job_id }}" class="confirm-delete btn btn-outline-dark btn-sm" href="{{ url_for('data.delete_job_by_id', job_id=job.job_id) }}"  role="button" target="_self"><i class="fa-solid fa-trash"></i></a>
      {% endif %}
      {% if job.finished_at %}
      <a class="btn btn-outline-dark btn-sm" href="{{ url_for('data.result', job_id=job.job_id) }}"  role="button" target="_self"><i class="fa-solid fa-square-poll-vertical"></i></a>
      {% endif %}
    </td>
  </tr>
{% endmacro %}  


{% macro minijob_header(families_by_id, samples_by_id) %}
  <tr>
    <th style="min-width: 150px; text-align: right;" scope="col">Finished</th>
    <th style="width: 99%" scope="col">Type</th>
    <th style="min-width: 90px;" scope="col"></th>
  </tr> 
{% endmacro %}  
  
{% macro minijob_row(job) %}
  <tr class="job-row parent_{{ kwargs['parent'] }}" >
    <td job_id="{{ job.job_id }}" class="job-cell" align="right" valign="middle">{{ job.finished_at|date_time }}</td>
    <td job_id="{{ job.job_id }}" class="job-cell" valign="middle">{{ job_description(job, kwargs['families_by_id'], kwargs['samples_by_id']) }}</td>
    <td align="right">
      <a class="btn btn-outline-dark btn-sm" href="{{ url_for('data.result', job_id=job.job_id) }}"  role="button" target="_self"><i class="fa-solid fa-square-poll-vertical"></i></a>
    </td>
  </tr>
{% endmacro %}  