{%- macro format_monospace(content) -%}
  <span class="font-monospace">{{ content }}</span>
{%- endmacro -%}

{%- macro format_pichash(pichash) -%}
  {% set hex_pichash = "0x" + ("%016x"|format(pichash)) %}
  <span class="font-monospace"><a href="{{ url_for('explore.search', query='pichash:'+hex_pichash, type='function') }}">{{ hex_pichash }}</a></span>
{%- endmacro -%}

{%- macro format_offset(offset) -%}
  <span class="font-monospace">0x{{ "%0x"|format(offset) }}</span>
{%- endmacro -%}

{%- macro format_family_name(family_name, family_id) -%}
  {% if family_id is none %}
    {{ family_name or "Unnamed" }}
  {% else %}
    <a href="{{ url_for('explore.family_by_id', family_id=family_id) }}">{{ family_name or "Unnamed" }}</a>
  {% endif %}
{%- endmacro -%}

{%- macro format_family_name_tuple(family_name_id) -%}
  {{ format_family_name(family_name_id[0], family_name_id[1]) }}
{%- endmacro -%}

{%- macro format_family_id(family_id) -%}
  <a href="{{ url_for('explore.family_by_id', family_id=family_id) }}">{{ family_id }}</a>
{%- endmacro -%}

{%- macro format_sample_id(sample_id) -%}
  <a href="{{ url_for('explore.sample_by_id', sample_id=sample_id) }}">{{ sample_id }}</a>
{%- endmacro -%}

{%- macro format_function_id(function_id) -%}
  <a href="{{ url_for('explore.function_by_id', function_id=function_id) }}">{{ function_id }}</a>
{%- endmacro -%}

{%- macro clipboard_btn(clipboard_value) -%}
  <button class="btn btn-light btn-sm" style="max-height: 20px; max-width: 20px; padding: 0px;" title="Copy to Clipboard" data-toggle="tooltip" onclick="copy_to_clipboard(this, '{{ clipboard_value }}')"><i class="fa-regular fa-copy"></i></button>
{%- endmacro -%}

{%- macro clipboard_js() -%}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
function copy_to_clipboard(btn, val){
  navigator.clipboard.writeText(val);
  $(btn).attr('data-bs-original-title', "Copied!");
  bootstrap.Tooltip.getInstance(btn).show();
  $(btn).attr('data-bs-original-title', "Copy to Clipboard");
}
</script>
{%- endmacro -%}

{%- macro format_sha_short_clipboard(sha256) -%}
  {{ format_monospace(sha256[:8]) }} {{ clipboard_btn(sha256) }}
{%- endmacro -%}
